<form {{action 'authenticate' on='submit'}}>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

  {{yield}}

  <ul>
    <li>
      <label for="{{concat elementId '-email'}}">Email</label>
      {{input type='email' value=email id=(concat elementId '-email')}}
    </li>

    <li>
      <label for="{{concat elementId '-password'}}">Password</label>
      {{input type='password' value=password id=(concat elementId '-password')}}
    </li>
  </ul>

  <button type="submit">Login</button>
</form>
