<button {{action "showForm"}} class="btn-create-project">Create project...</button>

{{#if isFormShowing}}
  <form {{action "create" on="submit"}}>
    <ul>
      <li>
        <label for="{{concat elementId '-name'}}">Name</label>
        {{input value=name id=(concat elementId '-name')}}
      </li>
    </ul>

    <button type="submit" class="btn-create-project-submit">Submit</button>
    <button type="button" {{action "hideForm"}} class="btn-create-project-cancel">Cancel</button>
  </form>
{{/if}}
